In [119]:
import pandas as pd
import numpy as np
from scipy import stats
import math

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, recall_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import acquire

In [120]:
#Acquiring telco data from our SQL servers. 

telco = acquire.get_telco_data()

In [121]:
telco.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.9,No,Two year,DSL,Mailed check
1,4,1,3,0017-DINOC,Male,0,No,No,54,No,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
2,3,1,3,0019-GFNTW,Female,0,No,No,56,No,...,Yes,No,No,No,45.05,2560.1,No,Two year,DSL,Bank transfer (automatic)
3,4,1,3,0056-EPFBG,Male,0,Yes,Yes,20,No,...,Yes,No,No,Yes,39.40,825.4,No,Two year,DSL,Credit card (automatic)
4,3,1,3,0078-XZMHT,Male,0,Yes,No,72,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.2,No,Two year,DSL,Bank transfer (automatic)

In [122]:
telco.shape

(7043, 24)

In [123]:
telco.info() # Looking at datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [124]:
telco.describe()

,payment_type_id,internet_service_type_id,contract_type_id,senior_citizen,tenure,monthly_charges
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,2.315633,1.872923,1.690473,0.162147,32.371149,64.761692
std,1.148907,0.737796,0.833755,0.368612,24.559481,30.090047
min,1.000000,1.000000,1.000000,0.000000,0.000000,18.250000
25%,1.000000,1.000000,1.000000,0.000000,9.000000,35.500000
50%,2.000000,2.000000,1.000000,0.000000,29.000000,70.350000
75%,3.000000,2.000000,2.000000,0.000000,55.000000,89.850000
max,4.000000,3.000000,3.000000,1.000000,72.000000,118.750000

In [125]:
#Step 1 change all datatypes so we can do math:

In [126]:
telco[telco['total_charges'] == ' '] # Looking at which columns in total charges that is empty

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
85,4,1,3,1371-DWPAZ,Female,0,Yes,Yes,0,No,...,Yes,Yes,No,No,56.05,,No,Two year,DSL,Credit card (automatic)
156,3,1,3,2775-SEFEE,Male,0,No,Yes,0,Yes,...,Yes,No,No,Yes,61.90,,No,Two year,DSL,Bank transfer (automatic)
236,2,1,3,4075-WKNIU,Female,0,Yes,Yes,0,Yes,...,Yes,Yes,No,No,73.35,,No,Two year,DSL,Mailed check
255,3,1,3,4472-LVYGI,Female,0,Yes,Yes,0,No,...,Yes,Yes,No,Yes,52.55,,No,Two year,DSL,Bank transfer (automatic)
339,2,1,3,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,...,No,Yes,Yes,No,80.85,,No,Two year,DSL,Mailed check
5681,2,3,3,2520-SGTTA,Female,0,Yes,Yes,0,Yes,...,No internet service,No internet service,No internet service,No,20.00,,No,Two year,None,Mailed check
5717,2,3,3,3115-CZMZD,Male,0,No,Yes,0,Yes,...,No internet service,No internet service,No internet service,No,20.25,,No,Two year,None,Mailed check
5727,2,3,3,3213-VVOLG,Male,0,Yes,Yes,0,Yes,...,No internet service,No internet service,No internet service,No,25.35,,No,Two year,None,Mailed check
5798,2,3,3,4367-NUYAO,Male,0,Yes,Yes,0,Yes,...,No internet service,No internet service,No internet service,No,25.75,,No,Two year,None,Mailed check
6007,2,3,3,7644-OMVMY,Male,0,Yes,Yes,0,Yes,...,No internet service,No internet service,No internet service,No,19.85,,No,Two year,None,Mailed check
6257,2,3,2,2923-ARZLG,Male,0,Yes,Yes,0,Yes,...,No internet service,No internet service,No internet service,Yes,19.70,,No,One year,None,Mailed check

In [131]:
# #Add zero to columns to convert to float
telco['total_charges'] = telco['total_charges'] + '0'

In [132]:
#make total charges into datatype float
telco['total_charges'] = telco['total_charges'].astype('float')

In [133]:
telco['total_charges'].dtype #checking to see if datatype was changed

dtype('float64')

In [89]:
telco.columns.tolist() # looking at list of columns

['payment_type_id',
 'internet_service_type_id',
 'contract_type_id',
 'customer_id',
 'gender',
 'senior_citizen',
 'partner',
 'dependents',
 'tenure',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'monthly_charges',
 'total_charges',
 'churn',
 'contract_type',
 'internet_service_type',
 'payment_type']

In [134]:
telco.info() # Looking at datatypes again

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   float64
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(2), int64(5), object(17)
memory usage: 1.3+ MB

In [150]:
telco.payment_type.value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64

# Working with Sarah

In [160]:
# filters to objects only starting at index 1 to put in dummy dataframe
col_list= list(telco.select_dtypes('object').columns)[1:]

In [161]:
#creating dummy dataframe
dummy_df = pd.get_dummies(telco[col_list], dummy_na=False)
dummy_df

,gender_Female,gender_Male,partner_No,partner_Yes,dependents_No,dependents_Yes,phone_service_No,phone_service_Yes,multiple_lines_No,multiple_lines_No phone service,...,contract_type_Month-to-month,contract_type_One year,contract_type_Two year,internet_service_type_DSL,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,1,0,0,1,0,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
1,0,1,1,0,1,0,1,0,0,1,...,0,0,1,1,0,0,0,1,0,0
2,1,0,1,0,1,0,1,0,0,1,...,0,0,1,1,0,0,1,0,0,0
3,0,1,0,1,0,1,1,0,0,1,...,0,0,1,1,0,0,0,1,0,0
4,0,1,0,1,1,0,0,1,0,0,...,0,0,1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,0,1,0,1,0,1,1,0,...,1,0,0,0,0,1,0,0,0,1
7039,1,0,1,0,1,0,0,1,1,0,...,1,0,0,0,0,1,0,0,0,1
7040,1,0,1,0,1,0,0,1,1,0,...,1,0,0,0,0,1,0,1,0,0
7041,0,1,1,0,1,0,0,1,1,0,...,1,0,0,0,0,1,0,0,0,1
7042,1,0,1,0,1,0,0,1,1,0,...,1,0,0,0,0,1,1,0,0,0

In [152]:
#combining original dataframe with dummy dataframe
telco_combined = pd.concat([telco, dummy_df], axis=1)
telco_combined.head(1)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,contract_type_Month-to-month,contract_type_One year,contract_type_Two year,internet_service_type_DSL,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,0,0,1,1,0,0,0,0,0,1

In [158]:
#creating correlation table
corr_df=telco_combined.corr().reset_index()

In [166]:
#rename columns in correlation table
corr_df.rename(columns={"index": "col_names"},  inplace= True)

In [183]:
#Filter columns to only churn_no and churn_yes and tranpose table
corr_df= corr_df[(corr_df.col_names=='churn_No') | (corr_df.col_names=='churn_Yes')].T.reset_index()

In [187]:
#Looking at column names in correlation table
corr_df.columns

Index(['index', 38, 39], dtype='object')

In [191]:
#Renaming more columns in correlation table
corr_df= corr_df.rename(columns={38:"churn_No", 39: "churn_Yes"})

In [194]:
#Drop first row to be able to sort values
corr_df= corr_df.drop([0], axis=0)

In [197]:
#Sort correlation values
corr_df.sort_values(by='churn_No')

                                     index   churn_No  churn_Yes
40                               churn_Yes         -1          1
41            contract_type_Month-to-month  -0.405103   0.405103
19                      online_security_No  -0.342637   0.342637
28                         tech_support_No  -0.337281   0.337281
45       internet_service_type_Fiber optic   -0.30802    0.30802
49           payment_type_Electronic check  -0.301919   0.301919
22                        online_backup_No  -0.268005   0.268005
25                    device_protection_No  -0.252481   0.252481
6                          monthly_charges  -0.193356   0.193356
38                   paperless_billing_Yes  -0.191825   0.191825
12                           dependents_No  -0.164221   0.164221
4                           senior_citizen  -0.150889   0.150889
10                              partner_No  -0.150448   0.150448
34                     streaming_movies_No  -0.130845   0.130845
31                         streaming_tv_No  -0.128916   0.128916
33                        streaming_tv_Yes -0.0632277  0.0632277
36                    streaming_movies_Yes -0.0613815  0.0613815
18                      multiple_lines_Yes -0.0401021  0.0401021
15                       phone_service_Yes  -0.011942   0.011942
8                            gender_Female -0.0086121  0.0086121
9                              gender_Male  0.0086121 -0.0086121
14                        phone_service_No   0.011942  -0.011942
17         multiple_lines_No phone service   0.011942  -0.011942
16                       multiple_lines_No  0.0325686 -0.0325686
2                 internet_service_type_id  0.0472914 -0.0472914
27                   device_protection_Yes  0.0661598 -0.0661598
24                       online_backup_Yes  0.0822549 -0.0822549
50               payment_type_Mailed check  0.0916828 -0.0916828
7                            total_charges  0.0987746 -0.0987746
47  payment_type_Bank transfer (automatic)   0.117937  -0.117937
44               internet_service_type_DSL   0.124214  -0.124214
48    payment_type_Credit card (automatic)   0.134302  -0.134302
11                             partner_Yes   0.150448  -0.150448
13                          dependents_Yes   0.164221  -0.164221
30                        tech_support_Yes   0.164674  -0.164674
21                     online_security_Yes   0.171226  -0.171226
42                  contract_type_One year    0.17782   -0.17782
37                    paperless_billing_No   0.191825  -0.191825
29        tech_support_No internet service    0.22789   -0.22789
35    streaming_movies_No internet service    0.22789   -0.22789
20     online_security_No internet service    0.22789   -0.22789
32        streaming_tv_No internet service    0.22789   -0.22789
23       online_backup_No internet service    0.22789   -0.22789
26   device_protection_No internet service    0.22789   -0.22789
46              internet_service_type_None    0.22789   -0.22789
1                          payment_type_id   0.262818  -0.262818
43                  contract_type_Two year   0.302253  -0.302253
5                                   tenure   0.352229  -0.352229
3                         contract_type_id   0.396713  -0.396713
39                                churn_No          1         -1